<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de empleados</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<body>

    <div class="container">
        <h1>Listado de empleados <a th:href="@{/nuevousuario}" class="btn btn-success" role="button">Agregar</a></h1></br>
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Empresa</th>
                <th>Rol</th>
                <th>Creacion</th>
                <th>Actualizacion</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>

            <tr th:each="user : ${userlist}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.nombre}"></td>
                <td th:text="${user.correo}"></td>
                <td th:text="${user.empresa.nombre}"></td>
                <td th:text="${user.rol.name}"></td>
                <td th:text="${#temporals.format(user.fechaCreacion, 'dd-MMM-yyyy hh:mm:ss')}"></td>
                <td th:text="${#temporals.format(user.fechaActualizacion, 'dd-MMM-yyyy hh:mm:ss')}"></td>
                <td><a th:href="@{/editarusuario/{id}(id=${user.id})}" class="btn btn-warning" role="button">Editar</a></td>
                <td><a th:href="@{/eliminarusuario/{id}(id=${user.id})}" class="btn btn-danger" role="button">Eliminar</a></td>
            </tr>
        </table>
    </div>

<script th:inline="javascript">
    window.onload = function(){
        var msg = [[${msg}]];
        if(msg == "saveOK"){
            Command : toastr["success"]("El empleado fue guardado correctamente")
        } else if(msg == "updtOK"){
            Command : toastr["success"]("El empleado fue actualizado correctamente")
        } else if(msg == "dltOK"){
            Command : toastr["warning"]("El empleado fue eliminado correctamente")
        } else if(msg == "dltERROR"){
            Command : toastr["error"]("Hubo un problema al tratar de eliminar el empleado")
        }
        toastr.options = {
            "positionClass" : "toastr-top-right",
            "showMethod" : "fadeIn",
            "showDuration" : "250",
            "hideMethod" : "fadeOut",
        }
    }
</script>

</body>
</html>